<%- include("partials/header") %>
    <script src="/js/modalDeck.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
            <a href="/decks" class="AllActiveLink">Decks</a>
            <a href="/drawTest">Draw Test</a>
        </nav>
        <% if (user !== undefined && user !== null) { %>
            <a href="/loginForm" class="main_login"><p><%= user %></p></a>
        <% } %>
        <% if (user === undefined || user === null) { %>
            <a href="/loginForm" class="main_login"><img id="AllLoginButton" src="../assets/images/login-icon.png"></a>
        <% } %>
    </header>
    <main>
        <section id="DecksGallery">
            <% for (let i = 0; i < decks.length; i++) { %>
                <figure>
                    <a href="#" class="ModalTrigger" title="<%= decks[i] %>">
                        <img src="assets/images/deck<%= i+1 %>.jpg" alt="<%= decks[i] %>">
                    </a>
                    <figcaption>
                        <h3 class="DecksDeckName"><%= decks[i] %></h3>
                        <button class="DecksChangeNameBtn">Change Name</button>
                        <form action="" method="post" class="DecksChangeNameForm">
                            <input type="hidden" name="DecksOldDeckName" value="<%= decks[i] %>">
                            <input type="text" name="DecksNewDeckName" class="DecksNewDeckNameInput" placeholder="New deck name" style="display: none;" required>
                            <button type="submit" class="DecksSaveBtn">Save</button>
                        </form>
                        <form action="" method="post" class="DecksDeleteForm">
                            <input type="hidden" name="DecksDelete" value="<%= decks[i] %>">
                            <button type="submit" class="DecksDeleteBtn">Delete</button>
                        </form>
                    </figcaption>
                </figure>
            <% } %>
            <figure id="TriggerNewDeck">
                <a href="#">
                    <figcaption>
                        <p>&plus;</p>
                    </figcaption>
                </a>
            </figure>
        </section>
        <div class="Modal">
            <div class="ModalContent">
                <section>
                    <h2></h2>
                    <figure>
                        <img src="" alt="Card">
                    </figure>
                    <form action="" method="post">
                        <button>Edit</button>
                        <input type="hidden" name="nameEdit" value="">
                    </form>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>
        <div class="ModalNewDeck Modal">
            <div class="ModalContent">
                <p>Maak een nieuw deck:</p>
                <form action="" method="post">
                    <label for="name">Naam:</label>
                    <input type="text" name="nameNew" id="name">
                    <input type="submit" value="Create">
                </form>
                <form action="" method="post">
                    <button>Foto uploaden</button>
                </form>
                <span class="ModalClose">X</span>
            </div>
        </div>
<%- include("partials/footer") %>