<%- include("partials/header") %>
    <script src="/js/modalDeck.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
            <a href="/decks" class="AllActiveLink">Decks</a>
            <a href="/drawTest">Draw Test</a>
        </nav>
        <% if (user !== undefined && user !== null) { %>
            <a href="/loginForm" class="main_login"><p><%= user %></p></a>
        <% } %>
        <% if (user === undefined || user === null) { %>
            <a href="/loginForm" class="main_login"><img id="AllLoginButton" src="../assets/images/login-icon.png"></a>
        <% } %>
    </header>
    <main>
        <section class="HomeErrorContainer">
            <% if (!message) { %>
                <br>
            <% } %>  
            <% if (message) { %>
                <p class="<%= message.type %>"><%= message.message %></p>
            <% } %>   
        </section>
        <section id="DecksGallery">
            <% for (let i = 0; i < decks.length; i++) { %>
                <figure>
                    <a href="#" class="ModalTrigger" title="<%= decks[i].title %>">
                        <img src="<%= decks[i].urlBackground %>" alt="<%= decks[i].title %>">
                    </a>
                    <figcaption>
                        <h3><%= decks[i].title %></h3>
                        <button class="DecksChangeNameBtn">Naam Wijzigen</button>
                        <form action="" method="post">
                            <input type="hidden" name="oldDeckName" value="<%= decks[i].title %>">
                            <input type="text" name="newDeckName" class="DecksNewDeckInput" placeholder="Nieuwe Deck Naam" style="display:none" maxlength="20" required>
                            <button type="submit" class="DecksSaveBtn" style="display:none">Opslaan</button>
                        </form>
                        <form action="" method="post" class="DecksDeleteForm">
                            <input type="hidden" name="deckDelete" value="<%= decks[i].title %>">
                            <button type="button" class="DecksDeleteBtn">Verwijderen</button>
                            <div class="DeleteConfirmation" style="display:none">
                                <p>Weet je zeker dat je</p>
                                <p>dit deck wilt verwijderen?</p><br>
                                <button type="button" class="DecksConfirmDeleteBtn">OK</button>
                                <button type="button" class="DecksCancelDeleteBtn">Annuleren</button>
                            </div>
                        </form>
                    </figcaption>
                </figure>
            <% } %>
            <figure id="TriggerNewDeck">
                <a>
                    <figcaption>
                        <p>&plus;</p>
                    </figcaption>
                </a>
            </figure>
        </section>
        <div class="Modal">
            <div class="ModalContent">
                <section>
                    <h2></h2>
                    <form action="" method="post">
                        <button>Edit</button>
                        <input type="hidden" name="nameEdit" value="">
                    </form>
                    <figure>
                        <img src="" alt="Card">
                    </figure>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>
        <div class="ModalNewDeck Modal">
            <div class="ModalContent">
                <p>Maak een nieuw deck:</p><br>
                <form action="" method="post">
                    <label for="name">Naam:</label>
                    <input type="text" name="nameNew" id="name" maxlength="20" required>
                    <label for="backgroundUrl" id="toggleBackgroundUrl">Klik hier om een achtergrond toe te voegen.</label>
                    <input type="url" name="backgroundUrl" id="backgroundUrl" maxlength="255" placeholder="URL Achtergrond (Optioneel)" style="display: none; width: 90%;">
                    <br><input type="submit" value="Create">
                </form>
                    
                <span class="ModalClose">X</span>
            </div>
        </div>
<%- include("partials/footer") %>