<%- include("partials/header") %>
    <script src="/js/modalDrawTest.js" defer></script>
    <script src="/js/drawTestSelectedDeck.js" defer></script>
    <script src="/js/sentFormOnChange.js" defer></script>
    <!-- <script src="/routers/drawTestRouter.ts" defer></script> -->
    <!--<script src="/js/modalDrawTestDiscard.js" defer></script>-->
    <title><%= title %></title>
    <style>
        #drawPileCards{
            display: flex;
            flex-wrap: wrap;
        }
        .ModalContent {
            max-height: 400px; /* Stel een maximale hoogte in waarbij de scrollbar moet verschijnen */
            overflow-y: auto; /* Laat de scrollbar verschijnen indien nodig */
        }
        /* width */
        .ModalContent::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        .ModalContent::-webkit-scrollbar-track {
            background: #f1f1f1; 
        } 

        /* Handle */
        .ModalContent::-webkit-scrollbar-thumb {
            background: #888; 
        }

        /* Handle on hover */
        .ModalContent::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
    </style>
</head>
<body>
    <header>
        <% if (user !== undefined && user !== null) { %>
            <nav>
                <a href="/home">Home</a>
                <a href="/decks">Decks</a>
                <a href="/drawTest" class="AllActiveLink">Draw Test</a>
            </nav>
        <% } %>
        <% if (user !== undefined && user !== null) { %>
            <a href="/loginForm" class="main_login"><p><%= user %></p></a>
        <% } %>
        <% if (user === undefined || user === null) { %>
            <a href="/loginForm" class="main_login"><img id="AllLoginButton" src="../assets/images/login-icon.png"></a>
        <% } %>
    </header>
    <main>
        <form action="/drawTest/selectedDeck" method="GET" id="DrawTestSelection">
            <select name="devices" id="deckSelect">
                <option value="chooseADeck">Kies een deck</option>
                <% if (decks !== null) { %>
                    <% for( let index = 0; index < decks.length; index++ ) { %>
                        <option value="<%= decks[index] %>"><%= decks[index].title %></option>
                        <%= deck = decks[index] %>
                    <% } %>
                <% } %>
            </select>
        </form>
        <section id="DrawTestTitles">
            <h2>Draw Test</h2>
            <h2>Percentage Check</h2>
        </section>
        <article id="DrawTestContent">
            <section>
                <figure>
                    <img src="../assets/images/decks.jpg" alt="Draw Pile" id="DrawTestDrawPile" class="ModalTrigger">
                </figure>
            </section>
            <section id="DrawTestButtons">
                <form action="/drawTest/draw" method="get">
                    <button id="draw">Draw</button>
                </form>
                <form action="/drawTest/reset" method="get">
                    <button id="reset">Reset</button>
                </form>
            </section>
            <section>
                <figure>
                    <img src="../assets/images/decks.jpg" alt="Reset" id="DrawTestDiscardPile" class="ModalTrigger2">
                </figure>
            </section>
            <section>
                <input type="text" placeholder="&UnderBar;">
                <article id="DrawTestPercentage">
                    <button>Track</button>
                    <p>&quest;&quest;&quest;&percnt;</p>
                </article>
            </section>
        </article>
        <div class="Modal">
            <div class="ModalContent">
                <h1>Drawpile</h1>
                <section id="drawPileCards">
                    <% for( let index = 0; index < cardImage.length; index++ ) { %>
                        <form action="/addToDiscardPile" method="get">
                            <%= console.log(cardImage[index]); %>
                            <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= cardImage[index].multiverseid %>&type=card" alt="<%= card.name %>">
                            <!-- <button onclick="addItemToDiscard()"><img src="<%= cardImage[index] %>" alt="" width="300px"></button> -->
                            <% function addItemToDiscard(){
                                discardPile.push(cardImage[index].name);
                                cardImage.splice(index, 1);
                            } 
                            %>
                        </form>
                    <% } %>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>
        <% if (cardImageDiscard.length != 0) { %>
            <div class="Modal" id="Modal2">
                <div class="ModalContent">
                    <h1>Discardpile</h1>
                    <section id="drawPileCards">
                        <% for( let index = 0; index < cardImageDiscard.length; index++ ) { %>
                            <img src="<%= cardImageDiscard[index].name %>" alt="" width="300px">
                            <p><%= numberOfCards %></p>
                        <% } %>
                    </section>
                    <span class="ModalClose" id="ModalClose2">X</span>
                </div>
            </div>
        <% } %>
<%- include("partials/footer") %>