<%- include("partials/header") %>
    <script src="/js/modalHome.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <a href="/home" class="AllActiveLink">Home</a>
            <a href="/decks">Decks</a>
            <a href="/drawTest">Draw Test</a>
        </nav>
        <% if (user !== undefined && user !== null) { %>
            <a href="/loginForm" class="main_login"><p><%= user %></p></a>
        <% } %>
        <% if (user === undefined || user === null) { %>
            <a href="/loginForm" class="main_login"><img id="AllLoginButton" src="../assets/images/login-icon.png"></a>
        <% } %>
    </header>
    <main>
        <section>
            <form id="HomeSearch" action="" method="get">
                <input type="text" placeholder="Naam van een kaart" name="q" value="<%= q %>">
                <button>Zoeken</button>
            </form>
        </section>
        <section class="HomeErrorContainer">
            <% if (!message) { %>
                <br>
            <% } %>  
            <% if (message) { %>
                <p class="<%= message.type %>"><%= message.message %></p>
            <% } %>   
        </section>
        <section id="HomeCards">
            <% for (const card of cards) { %>
                <% if (card.multiverseid) { %>
                    <article>
                        <a href="#" class="ModalTrigger" title="<%= card.name %>" value="<%= card.multiverseid %>" type="<%= card.type %>" rarity="<%= card.rarity %>">
                            <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverseid %>&type=card" alt="<%= card.name %>">
                        </a>
                        <p><%= card.name %></p>
                    </article>
                <% } %>
            <% } %>
        </section>
        <section id="HomeButtons">
            <form action="/home" method="get">
                <input type="hidden" name="q" value="<%= q %>">
                <button name="page" value="<%= page - 1 %>" <% if (page === 1) { %> disabled <% } %>>&leftarrow;</button>
            </form>
            <p><%= page %>/<%= totalPages %></p>
            <form action="/home" method="get">
                <input type="hidden" name="q" value="<%= q %>">
                <button name="page" value="<%= page + 1 %>" <% if (page === totalPages) { %> disabled <% } %>>&rightarrow;</button>
            </form>
        </section>
        <div class="Modal">
            <div class="ModalContent">
                <figure id="ModalFigure">
                </figure>
                <section id="ModalSection"> 
                </section>
                <section style="display: inline-block;">
                    <p>Toevoegen aan deck&colon;</p>
                    <form action="" method="post">
                        <input type="hidden" name="namecard" value="" id="ModalForm"></input>
                        <input type="hidden" name="multiverseid" value="" id="ModalForm2"></input>
                        <input type="hidden" name="type" value="" id="ModalForm3"></input>
                        <select name="selectedDeck">
                            <option disabled selected>Kies een deck</option>
                            <% for (const deck of userDecks) { %>
                                <option value="<%= deck %>"><%= deck %></option>
                            <% } %>
                        </select><br>
                        <button type="submit">Toevoegen</button>
                    </form>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>
<%- include("partials/footer") %>