<%- include("partials/header") %>
    <script src="/js/newDeckFilter.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <main>
        <section class="NewDeckWindow">
            <% if (newDeck) { %>
                <h2>Current deck name: "<%= deckName %>"</h2>
                <button id="toggleChangeName">Change Deck Name</button>
                <form id="changeNameForm" action="" method="post" style="display: none;">
                    <label for="newDeckName">New deck name:</label>
                    <input type="text" id="newDeckName" name="newDeckName" required>
                    <button type="submit">Change name</button>
                </form>
            <% } else { %>
                <h2>Wijzigingen aanbrengen in deck: <%= deckName %></h2>
            <% } %>
        </section>
        <section>
            <p>When you're finished, press the button below.</p>
            <button>
                <a href="/decks" class="LeaveLink">Done</a>
            </button>
        </section>
        <section>
            <form action="" method="get">
                <label for="name">Zoek een kaart</label>
                <input type="text" name="q" id="searchInput">
                <input type="submit" value="zoek" style="display: none;">
            </form>
        </section>
        <section class="NewDeckWindow" id="deckSection">
            <% for (const card of deck) { %>
                <article class="cardItem">
                    <a href="" class="ModalTrigger">
                        <img loading="lazy" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverseid %>&type=card" alt="Deck Image" class="NewDeckWindowImg">
                    </a>
                    <p><%= card.name %></p>
                    <p>Cards in deck: <%= card.numberOfCards %></p>
                    <section>
                        <form action="" method="post">
                            <input type="hidden" name="nameToAdd" value="<%= card.name %>">
                            <input type="hidden" name="idToAdd" value="<%= card.multiverseid %>">
                            <input type="hidden" name="typeToAdd" value="<%= card.type %>">
                            <button type="submit">▲</button>
                        </form>
                        <form action="" method="post">
                            <input type="hidden" name="nameToRemove" value="<%= card.name %>">
                            <button type="submit">▼</button>
                        </form>
                    </section>
                </article>
            <% } %>
        </section>
        <section class="NewDeckWindow" id="deckSection">
            <% for (const card of cards) { %>
                <% if (card.multiverseid) { %>
                    <article class="cardItem">
                        <a href="" class="ModalTrigger2">
                            <img loading="lazy" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverseid %>&type=card" alt="<%= card.name %>">
                        </a>
                        <p><%= card.name %></p>
                        <p>Cards in deck: 0</p>
                        <section>
                            <form action="" method="post">
                                <input type="hidden" name="nameToAdd" value="<%= card.name %>">
                                <input type="hidden" name="idToAdd" value="<%= card.multiverseid %>">
                                <input type="hidden" name="typeToAdd" value="<%= card.type %>">
                                <button type="submit">▲</button>
                            </form>
                            <form action="" method="post">
                                <input type="hidden" name="nameToRemove" value="<%= card.name %>">
                                <input type="hidden" name="idToRemove" value="<%= card.multiverseid %>">
                                <button type="submit">▼</button>
                            </form>
                        </section>

                    </article>
                <% } %>
            <% } %>
        </section>
        <div class="Modal">
            <div class="ModalContent">
                <figure>
                    <img src="" alt="Card">
                </figure>
                <section>
                    <p>Name&colon;</p>
                    <h2></h2>
                    <p>Type&colon;</p>
                    <h2></h2>
                    <p>Color&colon;</p>
                    <h2></h2>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>
    </main>
</body>
</html>