<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Deck Window</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="/js/newDeckFilter.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <main>
        <section class="NewDeckWindow">
            <% if (newDeck) { %>
                <form action="" method="post">
                    <h2>Nieuwe decknaam: "<%= deckName %>"</h2>
                    <button>Verander naam</button>
                </form>
            <% } else { %>
                <h2>Wijzigingen aanbrengen in deck: <%= deckName %></h2>
            <% } %>
        </section>
        <section>
            <form action="" method="get">
                <label for="name">Zoek een kaart</label>
                <input type="text" name="q" id="searchInput">
                <input type="submit" value="zoek" style="display: none;">
            </form>

        </section>
        
        <section class="NewDeckWindow" id="deckSection">
            <% for (let i = 0; i < deck1.length; i++) { %>
                <article class="cardItem">
                    <a href="" class="ModalTrigger">
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= deck1Id[i] %>&type=card" alt="Deck Image" class="NewDeckWindowImg">
                    </a>
                    <p><%= deck1[i] %></p>
                    <p>Cards in deck: 4</p>
                    <section>
                        <form action="" method="post">
                            <input type="hidden" name="nameToAdd" value="<%= deck1[i] %>">
                            <input type="hidden" name="idToAdd" value="<%= deck1Id[i] %>">
                            <button type="submit">'▲'</button>
                        </form>
                        <form action="" method="post">
                            <input type="hidden" name="nameToRemove" value="<%= deck1[i] %>">
                            <input type="hidden" name="idToRemove" value="<%= deck1Id[i] %>">
                            <button type="submit">'▼'</button>
                        </form>
                    </section>

                </article>
            <% } %>
        </section>

        <section class="NewDeckWindow" id="deckSection">
            <% for (const card of cards) { %>
                <% if (card.multiverseid) { %>
                    <article class="cardItem">
                        <a href="" class="ModalTrigger2">
                            <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverseid %>&type=card" alt="<%= card.name %>">
                        </a>
                        <p><%= card.name %></p>
                        <p>Cards in deck: 0</p>
                        <section>
                            <form action="" method="post">
                                <input type="hidden" name="nameToAdd" value="<%= card.name %>">
                                <input type="hidden" name="idToAdd" value="<%= card.multiverseid %>">
                                <button type="submit">'▲'</button>
                            </form>
                            <form action="" method="post">
                                <input type="hidden" name="nameToRemove" value="<%= card.name %>">
                                <input type="hidden" name="idToRemove" value="<%= card.multiverseid %>">
                                <button type="submit">'▼'</button>
                            </form>
                        </section>

                    </article>
                <% } %>
            <% } %>
        </section>

        <div class="Modal">
            <div class="ModalContent">
                <figure>
                    <img src="" alt="Card">
                </figure>
                <section>
                    <p>Name&colon;</p>
                    <h2></h2>
                    <p>Type&colon;</p>
                    <h2></h2>
                    <p>Color&colon;</p>
                    <h2></h2>
                </section>
                <span class="ModalClose">X</span>
            </div>
        </div>

    </main>
</body>
</html>